{
  "swagger": "2.0",
  "info": {
    "version": "V6",
    "title": "Credpagamentos - Api de Pagamentos Credpay v6.0",
    "description": "Credpagamentos - Api de Pagamentos Credpay - Credpay v6.0",
    "x-swagger-net-version": "8.4.14.301"
  },
  "host": "api-homolog.credpay.com.br",
  "schemes": [
    "https"
  ],
  "paths": {
    "/Arquivo/Processar/{dataInicial}/{dataFinal}": {
      "get": {
        "tags": [
          "Arquivo"
        ],
        "summary": "Processa envio de Arquivo Crea",
        "operationId": "Arquivo_ProcessarArquivoFinanceiroCrea",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "dataInicial",
            "in": "path",
            "description": "Data Inicial",
            "required": true,
            "type": "string"
          },
          {
            "name": "dataFinal",
            "in": "path",
            "description": "Data Final",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Arquivo Processado com sucesso.",
            "schema": {
              "$ref": "#/definitions/Credpay.Tools.DomainValidator.ValidationResult"
            }
          },
          "400": {
            "description": "Problemas ao Processar arquivo, favor observar propriedade erros.",
            "schema": {
              "$ref": "#/definitions/Credpay.Tools.DomainValidator.ValidationResult"
            }
          },
          "401": {
            "description": "Sem acesso e ou Sem Token de Acesso."
          }
        }
      }
    },
    "/Arquivo/Processar/Data/Repasse/{dataInicial}/{dataFinal}": {
      "get": {
        "tags": [
          "Arquivo"
        ],
        "summary": "Processa envio de Arquivo Crea - POR DATA DE REPASSE (TB OP GW",
        "operationId": "Arquivo_ProcessarArquivoFinanceiroCreaDataRepasse",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "dataInicial",
            "in": "path",
            "description": "Data Inicial",
            "required": true,
            "type": "string"
          },
          {
            "name": "dataFinal",
            "in": "path",
            "description": "Data Final",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Arquivo Processado com sucesso.",
            "schema": {
              "$ref": "#/definitions/Credpay.Tools.DomainValidator.ValidationResult"
            }
          },
          "400": {
            "description": "Problemas ao Processar arquivo, favor observar propriedade erros.",
            "schema": {
              "$ref": "#/definitions/Credpay.Tools.DomainValidator.ValidationResult"
            }
          },
          "401": {
            "description": "Sem acesso e ou Sem Token de Acesso."
          }
        }
      }
    },
    "/Arquivo/Processar/Carrinho/{documento}": {
      "post": {
        "tags": [
          "Arquivo"
        ],
        "summary": "Processa envio de Arquivo Crea - Por Carinho",
        "operationId": "Arquivo_ProcessarArquivoFinanceiroCreaPorCarrinho",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "documento",
            "in": "path",
            "description": "Carrinho",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Arquivo Processado com sucesso.",
            "schema": {
              "$ref": "#/definitions/Credpay.Tools.DomainValidator.ValidationResult"
            }
          },
          "400": {
            "description": "Problemas ao Processar arquivo, favor observar propriedade erros.",
            "schema": {
              "$ref": "#/definitions/Credpay.Tools.DomainValidator.ValidationResult"
            }
          },
          "401": {
            "description": "Sem acesso e ou Sem Token de Acesso."
          }
        }
      }
    },
    "/Arquivo/Processar/Carrinho": {
      "post": {
        "tags": [
          "Arquivo"
        ],
        "summary": "Processa envio de Arquivo Crea - Por Carinhos",
        "operationId": "Arquivo_PostArquivoProcessarCarrinho",
        "consumes": [
          "application/json",
          "text/json",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "documento",
            "in": "body",
            "description": "Carrinhos",
            "required": true,
            "schema": {
              "items": {
                "type": "string"
              },
              "type": "array"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Arquivo Processado com sucesso.",
            "schema": {
              "$ref": "#/definitions/Credpay.Tools.DomainValidator.ValidationResult"
            }
          },
          "400": {
            "description": "Problemas ao Processar arquivo, favor observar propriedade erros.",
            "schema": {
              "$ref": "#/definitions/Credpay.Tools.DomainValidator.ValidationResult"
            }
          },
          "401": {
            "description": "Sem acesso e ou Sem Token de Acesso."
          }
        }
      }
    },
    "/Arquivo/Processar/Carrinho/Repasse/{data}": {
      "post": {
        "tags": [
          "Arquivo"
        ],
        "summary": "Processa envio de Arquivo Crea - Por Carinhos - Forçando Data de Repasse",
        "operationId": "Arquivo_ProcessarArquivoFinanceiroCreaPorCarrinhoRepasse",
        "consumes": [
          "application/json",
          "text/json",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "documento",
            "in": "body",
            "description": "Carrinhos",
            "required": true,
            "schema": {
              "items": {
                "type": "string"
              },
              "type": "array"
            }
          },
          {
            "name": "data",
            "in": "path",
            "description": "data formato ddmmyy",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Arquivo Processado com sucesso.",
            "schema": {
              "$ref": "#/definitions/Credpay.Tools.DomainValidator.ValidationResult"
            }
          },
          "400": {
            "description": "Problemas ao Processar arquivo, favor observar propriedade erros.",
            "schema": {
              "$ref": "#/definitions/Credpay.Tools.DomainValidator.ValidationResult"
            }
          },
          "401": {
            "description": "Sem acesso e ou Sem Token de Acesso."
          }
        }
      }
    },
    "/Operacao/EfetivarPreOperacao": {
      "post": {
        "tags": [
          "Operacao"
        ],
        "summary": "Efetivar PreOperacao",
        "operationId": "Operacao_EfetivarPreOperacao",
        "consumes": [
          "application/json",
          "text/json",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "dadosPagamento",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Credpay.BackOffice.Application.ViewModel.DadosPreOperacaoGatewayViewModel"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          }
        }
      }
    },
    "/Operacao/EfetivarPreOperacao/Profissional": {
      "post": {
        "tags": [
          "Operacao"
        ],
        "summary": "EfetivarPreOperacao Profissional",
        "operationId": "Operacao_PostOperacaoEfetivarPreOperacaoProfissional",
        "consumes": [
          "application/json",
          "text/json",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "dados",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Credpay.BackOffice.Application.ViewModel.DadosPreOperacaoEntradaViewModel"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          }
        }
      }
    },
    "/Operacao/EfetivarPreOperacao/Gateway": {
      "post": {
        "tags": [
          "Operacao"
        ],
        "summary": "EfetivarPreOperacao Gateway",
        "operationId": "Operacao_EfetivarOperacao",
        "consumes": [
          "application/json",
          "text/json",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "dados",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Credpay.BackOffice.Application.ViewModel.DadosPreOperacaoGatewayViewModel"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          }
        }
      }
    },
    "/Operacao/ObterPreOperacao/Chave/{chave}": {
      "get": {
        "tags": [
          "Operacao"
        ],
        "summary": "ObterPreOperacao por chave",
        "operationId": "Operacao_ObterPreOperacaoPorChave",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "chave",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          }
        }
      }
    },
    "/Operacao/Relatorio/Recebimentos/{dataInicial}/{dataFinal}/{usuarioId}": {
      "get": {
        "tags": [
          "Operacao"
        ],
        "summary": "ObterRelatorioGeralRecebimentos",
        "operationId": "Operacao_ObterDadosRelatorioRecebimentos",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "dataInicial",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "dataFinal",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "usuarioId",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          }
        }
      }
    },
    "/Operacao/Multiplos": {
      "put": {
        "tags": [
          "Operacao"
        ],
        "summary": "Obter Status Operacao da Maquineta Virtual",
        "operationId": "Operacao_GravarPreOperacaoMultiplos",
        "consumes": [
          "application/json",
          "text/json",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "dados",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Credpay.BackOffice.Application.ViewModel.DadosPreOperacaoGatewayMultiplosViewModel"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          }
        }
      }
    },
    "/Operacao/Cancel/ReferenceId/{referenceId}": {
      "delete": {
        "tags": [
          "Operacao"
        ],
        "summary": "Cancela a PreOperacao por ReferenceId",
        "operationId": "Operacao_CancelarPreOperacaoPorReferenceId",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "referenceId",
            "in": "path",
            "description": "Reference Id",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          }
        }
      }
    },
    "/Operacao/Cancel/Chave/{chave}": {
      "delete": {
        "tags": [
          "Operacao"
        ],
        "summary": "Cancela a PreOperacao por chave",
        "operationId": "Operacao_CancelarPreOperacaoPorChave",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "chave",
            "in": "path",
            "description": "Chave da Operação (GUID)",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          }
        }
      }
    },
    "/Operacao/Obter/PreAuth/Gw/{dataInicio}/{dataFim}/{subDominioId}": {
      "get": {
        "tags": [
          "Operacao"
        ],
        "summary": "Obter Operações criadas para Pré Autorização",
        "operationId": "Operacao_ObterPreOperacaoParaPreAuthGw",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "dataInicio",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "dataFim",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "subDominioId",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          }
        }
      }
    },
    "/Operacao/Obter/Captura/Gw/{dataInicio}/{dataFim}/{subDominioId}": {
      "get": {
        "tags": [
          "Operacao"
        ],
        "summary": "Obter Operações criadas para captura (tardia) após Pré Autorização",
        "operationId": "Operacao_ObterOperacoesParaCapturaGw",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "dataInicio",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "dataFim",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "subDominioId",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          }
        }
      }
    },
    "/ping": {
      "get": {
        "tags": [
          "Ping"
        ],
        "summary": "Obter Ping. Verificar se o Api está no ar",
        "operationId": "Ping_Get",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "responses": {
          "200": {
            "description": "Ping.",
            "schema": {
              "type": "string"
            }
          },
          "400": {
            "description": "Erro.",
            "schema": {
              "type": "string"
            }
          }
        }
      }
    },
    "/Tokenizacao/CriarToken": {
      "post": {
        "tags": [
          "Tokenizacao"
        ],
        "summary": "Gerar Token Pagamento no Cofre",
        "operationId": "Tokenizacao_GerarTokenPagamento",
        "consumes": [
          "application/json",
          "text/json",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "dados",
            "in": "body",
            "description": "Dados do Token",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Credpay.BackOffice.Api.Models.ModelToken"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          }
        }
      }
    },
    "/Tokenizacao/ObterDadosToken/{token}": {
      "get": {
        "tags": [
          "Tokenizacao"
        ],
        "summary": "Obter Dados Token do Cofre",
        "operationId": "Tokenizacao_ObterDadosToken",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "token",
            "in": "path",
            "description": "Token para recuperar os dados",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          }
        }
      }
    },
    "/Tokenizacao/Pagar": {
      "post": {
        "tags": [
          "Tokenizacao"
        ],
        "summary": "Pagar",
        "operationId": "Tokenizacao_Pagar",
        "consumes": [
          "application/json",
          "text/json",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "dados",
            "in": "body",
            "description": "Efetua uma transação",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Credpay.BackOffice.Application.ViewModel.DadosPagamentoViewModel"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          }
        }
      }
    },
    "/Tokenizacao/Excluir/Token/{token}": {
      "post": {
        "tags": [
          "Tokenizacao"
        ],
        "summary": "Excluir um token do Cofre (Delete a token from the vault)",
        "operationId": "Tokenizacao_Excluir",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "token",
            "in": "path",
            "description": "Token (guid do token, ou seja o proprio token) para excluir os dados [Token(token's guid, the token itself) to delete the data]",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          }
        }
      }
    },
    "/Tokenizacao/Excluir/{tokenId}": {
      "post": {
        "tags": [
          "Tokenizacao"
        ],
        "summary": "Excluir um token do Cofre",
        "operationId": "Tokenizacao_PostTokenizacaoExcluirByTokenId",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "tokenId",
            "in": "path",
            "description": "Token Id (inteiro) para excluir os dados",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          }
        }
      }
    },
    "/Tokenizacao/Obter/{tokenId}": {
      "get": {
        "tags": [
          "Tokenizacao"
        ],
        "summary": "Obter Dados Token do Cofre - Por ID",
        "operationId": "Tokenizacao_ObterPorId",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "tokenId",
            "in": "path",
            "description": "Id - int - Token",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          }
        }
      }
    },
    "/Tokenizacao/Listar": {
      "get": {
        "tags": [
          "Tokenizacao"
        ],
        "summary": "Obter Lista de Tokens",
        "operationId": "Tokenizacao_ObterTokens",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "items": {
                "$ref": "#/definitions/Credpay.BackOffice.Application.ViewModel.TokenizacaoViewModel"
              },
              "xml": {
                "name": "TokenizacaoViewModel",
                "wrapped": true
              },
              "type": "array"
            }
          },
          "400": {
            "description": "BadRequest",
            "schema": {
              "type": "string"
            }
          }
        }
      }
    },
    "/Tokenizacao/PagarOperacoesDoDia": {
      "post": {
        "tags": [
          "Tokenizacao"
        ],
        "summary": "Efetuar pagamento de uma operaçãos Tokenizadas - Para uso Monitora",
        "operationId": "Tokenizacao_PagarOperacoesDoDia",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Credpay.Tools.DomainValidator.ValidationResultOfCredpay.BackOffice.Application.ViewModel.StatusRecorrenciaViewModel"
            }
          },
          "400": {
            "description": "BadRequest",
            "schema": {
              "$ref": "#/definitions/Credpay.Tools.DomainValidator.ValidationResultOfCredpay.BackOffice.Application.ViewModel.StatusRecorrenciaViewModel"
            }
          }
        }
      }
    },
    "/Tokenizacao/Obter/Tokens/Documento{documento}": {
      "get": {
        "tags": [
          "Tokenizacao"
        ],
        "summary": "Obter Tokens por documento",
        "operationId": "Tokenizacao_ObterTokensByClientePorDocumento",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "documento",
            "in": "path",
            "description": "Documento",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "items": {
                "$ref": "#/definitions/Credpay.BackOffice.Application.ViewModel.TokenDataValueViewModel"
              },
              "xml": {
                "name": "TokenDataValueViewModel",
                "wrapped": true
              },
              "type": "array"
            }
          },
          "400": {
            "description": "BadRequest",
            "schema": {
              "type": "string"
            }
          }
        }
      }
    },
    "/Tokenizacao/Obter/Tokens/Email{email}": {
      "get": {
        "tags": [
          "Tokenizacao"
        ],
        "summary": "Obter Tokens por e-mail",
        "operationId": "Tokenizacao_ObterTokensByClientePorEmail",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "email",
            "in": "path",
            "description": "e-mail",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "items": {
                "$ref": "#/definitions/Credpay.BackOffice.Application.ViewModel.TokenDataValueViewModel"
              },
              "xml": {
                "name": "TokenDataValueViewModel",
                "wrapped": true
              },
              "type": "array"
            }
          },
          "400": {
            "description": "BadRequest",
            "schema": {
              "type": "string"
            }
          }
        }
      }
    },
    "/Tokenizacao/Cancelar/{transacaoId}/{referenceId}": {
      "post": {
        "tags": [
          "Tokenizacao"
        ],
        "summary": "Obter Tokens por e-mail",
        "operationId": "Tokenizacao_Cancelar",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "transacaoId",
            "in": "path",
            "description": "Código de Transação do Fornecedor Gateway, retornado pela Autorização",
            "required": true,
            "type": "string"
          },
          {
            "name": "referenceId",
            "in": "path",
            "description": "Código de Transação fornecida pela Credpay, retornado pela Autorização",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Credpay.Tools.DomainValidator.ValidationResult"
            }
          },
          "400": {
            "description": "BadRequest",
            "schema": {
              "type": "string"
            }
          }
        }
      }
    },
    "/Transacao/Autorizar": {
      "post": {
        "tags": [
          "Transacao"
        ],
        "summary": "Autoriza uma transação com cartão de crédito",
        "operationId": "Transacao_Autorizar",
        "consumes": [
          "application/json",
          "text/json",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "dados",
            "in": "body",
            "description": "Dados do Pagamento",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Credpay.BackOffice.Application.ViewModel.DadosPagamentoViewModel"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          }
        }
      }
    },
    "/Transacao/Capturar/{transacaoId}/{referenceId}": {
      "post": {
        "tags": [
          "Transacao"
        ],
        "summary": "Efetua a captura de uma transação autorizada com cartão de crédito.",
        "operationId": "Transacao_Capturar",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "transacaoId",
            "in": "path",
            "description": "Código de Transação do Fornecedor Gateway, retornado pela Autorização",
            "required": true,
            "type": "string"
          },
          {
            "name": "referenceId",
            "in": "path",
            "description": "Código de Transação fornecida pela Credpay, retornado pela Autorização",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          }
        }
      }
    },
    "/Transacao/Capturar/{transacaoId}/{referenceId}/{valor}": {
      "post": {
        "tags": [
          "Transacao"
        ],
        "summary": "Efetua a captura de uma transação autorizada com cartão de crédito.",
        "operationId": "Transacao_PostTransacaoCapturarByTransacaoIdByReferenceIdByValor",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "transacaoId",
            "in": "path",
            "description": "Código de Transação do Fornecedor Gateway, retornado pela Autorização",
            "required": true,
            "type": "string"
          },
          {
            "name": "referenceId",
            "in": "path",
            "description": "Código de Transação fornecida pela Credpay, retornado pela Autorização",
            "required": true,
            "type": "string"
          },
          {
            "name": "valor",
            "in": "path",
            "description": "Valor dda transação para capturar - Valor em centavos.",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          }
        }
      }
    },
    "/Transacao/Consulta3ds/{chave}": {
      "get": {
        "tags": [
          "Transacao"
        ],
        "summary": "Consulta uma transação com cartão de crédito 3ds getnet",
        "operationId": "Transacao_Consulta3ds",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "chave",
            "in": "path",
            "description": "Chave preoperacao",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          }
        }
      }
    },
    "/Transacao/Cancelar/{transacaoId}/{referenceId}": {
      "post": {
        "tags": [
          "Transacao"
        ],
        "summary": "Efetua o cancelamento de uma transação autorizada ou capturada com cartão de crédito.\r\nDependendo do fornecedor Gateway, pode haver sucesso ou não se o cancelamento for em dia diferente da autorização ou captura da transação",
        "operationId": "Transacao_Cancelar",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "transacaoId",
            "in": "path",
            "description": "Código de Transação do Fornecedor Gateway, retornado pela Autorização",
            "required": true,
            "type": "string"
          },
          {
            "name": "referenceId",
            "in": "path",
            "description": "Código de Transação fornecida pela Credpay, retornado pela Autorização",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          }
        }
      }
    },
    "/Transacao/Cancelar/Parcial": {
      "post": {
        "tags": [
          "Transacao"
        ],
        "summary": "Efetua o cancelamento  parcial de uma transação autorizada ou capturada com cartão de crédito.\r\nDependendo do fornecedor Gateway, pode haver sucesso ou não se o cancelamento for em dia diferente da autorização ou captura da transação",
        "operationId": "Transacao_CancelamentoParcial",
        "consumes": [
          "application/json",
          "text/json",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "cancelamentoParcialModel",
            "in": "body",
            "description": "Objeto de post para o cancelamento",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Credpay.BackOffice.Api.Models.CancelamentoParcialModel"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          }
        }
      }
    },
    "/Transacao/Cancelar/Parcial/Query/Id/{idCancel}/{transactionId}": {
      "post": {
        "tags": [
          "Transacao"
        ],
        "summary": "Efetua o cancelamento  parcial de uma transação autorizada ou capturada com cartão de crédito.\r\nDependendo do fornecedor Gateway, pode haver sucesso ou não se o cancelamento for em dia diferente da autorização ou captura da transação",
        "operationId": "Transacao_QueryCancelamentoParcialById",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "idCancel",
            "in": "path",
            "description": "id cancelamento",
            "required": true,
            "type": "string"
          },
          {
            "name": "transactionId",
            "in": "path",
            "description": "id da transacao",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          }
        }
      }
    },
    "/Transacao/Cancelar/Parcial/Query/CustomKey/{customKey}/{transactionId}": {
      "post": {
        "tags": [
          "Transacao"
        ],
        "summary": "Efetua o cancelamento  parcial de uma transação autorizada ou capturada com cartão de crédito.\r\nDependendo do fornecedor Gateway, pode haver sucesso ou não se o cancelamento for em dia diferente da autorização ou captura da transação",
        "operationId": "Transacao_QueryCancelamentoParcialByCustomKey",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "customKey",
            "in": "path",
            "description": "custom key de cancelamento",
            "required": true,
            "type": "string"
          },
          {
            "name": "transactionId",
            "in": "path",
            "description": "id da transacao",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          }
        }
      }
    },
    "/Transacao/Consultar/{transacaoId}/{referenceId}": {
      "get": {
        "tags": [
          "Transacao"
        ],
        "summary": "Efetua a consulta de uma transação.",
        "operationId": "Transacao_Consultar",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "transacaoId",
            "in": "path",
            "description": "Código de Transação do Fornecedor Gateway, retornado pela Autorização",
            "required": true,
            "type": "string"
          },
          {
            "name": "referenceId",
            "in": "path",
            "description": "Código de Transação fornecida pela Credpay, retornado pela Autorização",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          }
        }
      }
    },
    "/Transacao/Obter/Operacao/{transacaoId}": {
      "get": {
        "tags": [
          "Transacao"
        ],
        "summary": "Efetua a consulta de uma transação.",
        "operationId": "Transacao_GetTransacaoObterOperacaoByTransacaoId",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "transacaoId",
            "in": "path",
            "description": "Código de Transação do Fornecedor Gateway, retornado pela Autorização",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          }
        }
      }
    }
  },
  "definitions": {
    "Credpay.Tools.DomainValidator.ValidationResult": {
      "properties": {
        "retorno": {
          "type": "object"
        },
        "statusCode": {
          "type": "integer",
          "format": "int32",
          "enum": [
            100,
            101,
            200,
            201,
            202,
            203,
            204,
            205,
            206,
            300,
            300,
            301,
            301,
            302,
            302,
            303,
            303,
            304,
            305,
            306,
            307,
            307,
            400,
            401,
            402,
            403,
            404,
            405,
            406,
            407,
            408,
            409,
            410,
            411,
            412,
            413,
            414,
            415,
            416,
            417,
            426,
            500,
            501,
            502,
            503,
            504,
            505
          ]
        },
        "erros": {
          "items": {
            "$ref": "#/definitions/Credpay.Tools.DomainValidator.ValidationError"
          },
          "readOnly": true,
          "xml": {
            "name": "ValidationError",
            "wrapped": true
          },
          "type": "array"
        },
        "codigoMessagem": {
          "type": "integer",
          "format": "int32"
        },
        "messagem": {
          "type": "string"
        },
        "valid": {
          "readOnly": true,
          "type": "boolean"
        },
        "invalid": {
          "readOnly": true,
          "type": "boolean"
        },
        "warning": {
          "readOnly": true,
          "type": "boolean"
        }
      },
      "xml": {
        "name": "ValidationResult"
      },
      "type": "object"
    },
    "Credpay.Tools.DomainValidator.ValidationError": {
      "properties": {
        "codigo": {
          "type": "integer",
          "format": "int32"
        },
        "message": {
          "type": "string"
        },
        "erro": {
          "type": "boolean"
        }
      },
      "xml": {
        "name": "ValidationError"
      },
      "type": "object"
    },
    "Credpay.BackOffice.Application.ViewModel.DadosPreOperacaoGatewayViewModel": {
      "properties": {
        "nomeDoCliente": {
          "type": "string"
        },
        "documento": {
          "type": "string"
        },
        "documentoProprietario": {
          "type": "string"
        },
        "email": {
          "type": "string"
        },
        "telefone": {
          "type": "string"
        },
        "celular": {
          "type": "string"
        },
        "subDominioId": {
          "type": "integer",
          "format": "int32"
        },
        "lojaId": {
          "type": "integer",
          "format": "int32"
        },
        "servicoId": {
          "type": "integer",
          "format": "int32"
        },
        "codigoDeBarras": {
          "type": "string"
        },
        "contrato": {
          "type": "string"
        },
        "contato": {
          "type": "string"
        },
        "credor": {
          "type": "string"
        },
        "descricaoServico": {
          "type": "string"
        },
        "envioEmail": {
          "type": "boolean"
        },
        "ip": {
          "type": "string"
        },
        "preOperacaoId": {
          "type": "integer",
          "format": "int32"
        },
        "usuarioId": {
          "type": "integer",
          "format": "int32"
        },
        "origem": {
          "type": "string"
        },
        "referencia": {
          "type": "string"
        },
        "referencia1": {
          "type": "string"
        },
        "referencia2": {
          "type": "string"
        },
        "numeroInterno": {
          "type": "string"
        },
        "webHook": {
          "type": "string"
        },
        "tipoDeSaida": {
          "type": "integer",
          "format": "int32"
        },
        "preAuthLink": {
          "type": "boolean"
        },
        "valorR": {
          "type": "number",
          "format": "double"
        },
        "quantidadeDeParcelas": {
          "type": "integer",
          "format": "int32"
        },
        "custoConveniencia": {
          "type": "number",
          "format": "double"
        },
        "valorInicial": {
          "type": "number",
          "format": "double"
        },
        "softDescriptor": {
          "type": "string"
        }
      },
      "xml": {
        "name": "DadosPreOperacaoGatewayViewModel"
      },
      "type": "object"
    },
    "Credpay.BackOffice.Application.ViewModel.DadosPreOperacaoEntradaViewModel": {
      "properties": {
        "registroProfissional": {
          "type": "string"
        },
        "nome": {
          "type": "string"
        },
        "email": {
          "type": "string"
        },
        "documento": {
          "type": "string"
        },
        "valor": {
          "type": "integer",
          "format": "int32"
        },
        "usuarioId": {
          "type": "integer",
          "format": "int32"
        }
      },
      "xml": {
        "name": "DadosPreOperacaoEntradaViewModel"
      },
      "type": "object"
    },
    "Credpay.BackOffice.Application.ViewModel.DadosPreOperacaoGatewayMultiplosViewModel": {
      "properties": {
        "nomeDoCliente": {
          "type": "string"
        },
        "documento": {
          "type": "string"
        },
        "documentoProprietario": {
          "type": "string"
        },
        "email": {
          "type": "string"
        },
        "telefone": {
          "type": "string"
        },
        "celular": {
          "type": "string"
        },
        "subDominioId": {
          "type": "integer",
          "format": "int32"
        },
        "lojaId": {
          "type": "integer",
          "format": "int32"
        },
        "servicoId": {
          "type": "integer",
          "format": "int32"
        },
        "codigoDeBarras": {
          "type": "string"
        },
        "contrato": {
          "type": "string"
        },
        "contato": {
          "type": "string"
        },
        "credor": {
          "type": "string"
        },
        "descricaoServico": {
          "type": "string"
        },
        "envioEmail": {
          "type": "boolean"
        },
        "ip": {
          "type": "string"
        },
        "preOperacaoId": {
          "type": "integer",
          "format": "int32"
        },
        "usuarioId": {
          "type": "integer",
          "format": "int32"
        },
        "origem": {
          "type": "string"
        },
        "referencia": {
          "type": "string"
        },
        "referencia1": {
          "type": "string"
        },
        "referencia2": {
          "type": "string"
        },
        "numeroInterno": {
          "type": "string"
        },
        "webHook": {
          "type": "string"
        },
        "tipoDeSaida": {
          "type": "integer",
          "format": "int32"
        },
        "dadosPagamentoMultiplos": {
          "items": {
            "$ref": "#/definitions/Credpay.BackOffice.Application.ViewModel.DadosPagamentoMultiplos"
          },
          "xml": {
            "name": "DadosPagamentoMultiplos",
            "wrapped": true
          },
          "type": "array"
        },
        "valor": {
          "type": "number",
          "format": "double"
        },
        "custoConveniencia": {
          "type": "number",
          "format": "double"
        },
        "softDescriptor": {
          "type": "string"
        }
      },
      "xml": {
        "name": "DadosPreOperacaoGatewayMultiplosViewModel"
      },
      "type": "object"
    },
    "Credpay.BackOffice.Application.ViewModel.DadosPagamentoMultiplos": {
      "properties": {
        "quantidadeDeParcelas": {
          "type": "integer",
          "format": "int32"
        },
        "valorInicial": {
          "type": "number",
          "format": "double"
        }
      },
      "xml": {
        "name": "DadosPagamentoMultiplos"
      },
      "type": "object"
    },
    "Credpay.BackOffice.Api.Models.ModelToken": {
      "description": "ModelToken",
      "properties": {
        "nomeDoCliente": {
          "description": "Nome Do Cliente",
          "type": "string"
        },
        "documento": {
          "description": "Documento Do Cliente",
          "type": "string"
        },
        "email": {
          "description": "Email",
          "type": "string"
        },
        "celular": {
          "description": "Celular",
          "type": "string"
        },
        "contato": {
          "description": "Contato",
          "type": "string"
        },
        "valor": {
          "description": "Valor",
          "type": "number",
          "format": "double"
        },
        "number": {
          "description": "Number",
          "type": "string"
        },
        "expirationMonth": {
          "description": "ExpirationMonth",
          "type": "string"
        },
        "expirationYear": {
          "description": "ExpirationYear",
          "type": "string"
        },
        "cvv": {
          "description": "Cvv",
          "type": "string"
        },
        "holderName": {
          "description": "HolderName",
          "type": "string"
        },
        "quantidadeVezesRecorrencia": {
          "description": "Quantidade Vezes ecorrencia - Opcional. Se for só gravar o token ignorar",
          "type": "integer",
          "format": "int32"
        },
        "bandeira": {
          "description": "Bandeira",
          "type": "string"
        },
        "dataCobrancaRecorrente": {
          "description": "Data Cobranca Recorrente - Opcional. Se for só gravar o token ignorar",
          "type": "string",
          "format": "date-time"
        }
      },
      "xml": {
        "name": "ModelToken"
      },
      "type": "object"
    },
    "Credpay.BackOffice.Application.ViewModel.DadosPagamentoViewModel": {
      "properties": {
        "nomeDoCliente": {
          "type": "string"
        },
        "documento": {
          "type": "string"
        },
        "documentoProprietario": {
          "type": "string"
        },
        "subDominioId": {
          "type": "integer",
          "format": "int32"
        },
        "lojaId": {
          "type": "integer",
          "format": "int32"
        },
        "servicoId": {
          "type": "integer",
          "format": "int32"
        },
        "codigoDeBarras": {
          "type": "string"
        },
        "contrato": {
          "type": "string"
        },
        "email": {
          "type": "string"
        },
        "telefone": {
          "type": "string"
        },
        "celular": {
          "type": "string"
        },
        "contato": {
          "type": "string"
        },
        "credor": {
          "type": "string"
        },
        "descricaoServico": {
          "type": "string"
        },
        "ip": {
          "type": "string"
        },
        "chave": {
          "type": "string"
        },
        "usuarioId": {
          "type": "integer",
          "format": "int32"
        },
        "quantidadeDeParcelas": {
          "type": "integer",
          "format": "int32"
        },
        "custoConveniencia": {
          "type": "number",
          "format": "double"
        },
        "valorR": {
          "type": "number",
          "format": "double"
        },
        "valorInicial": {
          "type": "number",
          "format": "double"
        },
        "softDescriptor": {
          "type": "string"
        },
        "numeroInterno": {
          "type": "string"
        },
        "preAuthLink": {
          "type": "boolean"
        },
        "renavan": {
          "type": "string"
        },
        "placa": {
          "type": "string"
        },
        "typeCard": {
          "type": "string"
        },
        "number": {
          "type": "string"
        },
        "expirationMonth": {
          "type": "string"
        },
        "expirationYear": {
          "type": "string"
        },
        "cvv": {
          "type": "string"
        },
        "holderName": {
          "type": "string"
        },
        "holderNameDocumento": {
          "type": "string"
        },
        "token": {
          "type": "string"
        },
        "quantidadeVezesRecorrencia": {
          "type": "integer",
          "format": "int32"
        },
        "dataCobrancaRecorrente": {
          "type": "string",
          "format": "date-time"
        },
        "capture": {
          "type": "boolean"
        }
      },
      "xml": {
        "name": "DadosPagamentoViewModel"
      },
      "type": "object"
    },
    "Credpay.BackOffice.Application.ViewModel.TokenizacaoViewModel": {
      "properties": {
        "tokenizacaoId": {
          "type": "integer",
          "format": "int32"
        },
        "subDominioId": {
          "type": "integer",
          "format": "int32"
        },
        "clienteVendaId": {
          "type": "integer",
          "format": "int32"
        },
        "token": {
          "type": "string"
        },
        "bandeira": {
          "type": "string"
        },
        "celular": {
          "type": "string"
        },
        "documento": {
          "type": "string"
        },
        "holderName": {
          "type": "string"
        },
        "contato": {
          "type": "string"
        },
        "bin": {
          "type": "string"
        },
        "tokenId": {
          "type": "string"
        },
        "referenceId": {
          "type": "string"
        },
        "cpfCnpj": {
          "type": "string"
        },
        "fornecedorGatewayId": {
          "type": "integer",
          "format": "int32"
        },
        "quantidadeVezesRecorrencia": {
          "type": "integer",
          "format": "int32"
        },
        "dataCobrancaRecorrente": {
          "type": "string",
          "format": "date-time"
        },
        "valor": {
          "type": "number",
          "format": "double"
        },
        "json": {
          "type": "string"
        },
        "dataInclusao": {
          "type": "string",
          "format": "date-time"
        },
        "ativo": {
          "type": "boolean"
        },
        "clienteVenda": {
          "$ref": "#/definitions/Credpay.BackOffice.Application.ViewModel.ClienteVendaViewModel"
        },
        "subDominio": {
          "$ref": "#/definitions/Credpay.BackOffice.Application.ViewModel.SubDominioViewModel"
        }
      },
      "xml": {
        "name": "TokenizacaoViewModel"
      },
      "type": "object"
    },
    "Credpay.BackOffice.Application.ViewModel.ClienteVendaViewModel": {
      "properties": {
        "clienteVendaId": {
          "type": "integer",
          "format": "int32"
        },
        "subDominioId": {
          "type": "integer",
          "format": "int32"
        },
        "email": {
          "type": "string"
        },
        "cnpj": {
          "type": "string"
        },
        "contato": {
          "type": "string"
        },
        "nome": {
          "type": "string"
        },
        "telefone": {
          "type": "string"
        },
        "celular": {
          "type": "string"
        },
        "dataInclusao": {
          "type": "string",
          "format": "date-time"
        },
        "dataAlteracao": {
          "type": "string",
          "format": "date-time"
        },
        "subDominio": {
          "$ref": "#/definitions/Credpay.BackOffice.Application.ViewModel.SubDominioViewModel"
        },
        "tokens": {
          "items": {
            "$ref": "#/definitions/Credpay.BackOffice.Application.ViewModel.TokenizacaoViewModel"
          },
          "xml": {
            "name": "TokenizacaoViewModel",
            "wrapped": true
          },
          "type": "array"
        }
      },
      "xml": {
        "name": "ClienteVendaViewModel"
      },
      "type": "object"
    },
    "Credpay.BackOffice.Application.ViewModel.SubDominioViewModel": {
      "properties": {
        "subDominioId": {
          "type": "integer",
          "format": "int32"
        },
        "titulodoSite": {
          "type": "string"
        },
        "endereco": {
          "type": "string"
        },
        "configProviderId": {
          "type": "integer",
          "format": "int32"
        },
        "dataInclusao": {
          "type": "string",
          "format": "date-time"
        },
        "nome": {
          "type": "string"
        },
        "literal": {
          "type": "string"
        },
        "softDescriptor": {
          "type": "string"
        },
        "ativo": {
          "type": "boolean"
        },
        "exibeCodigoDeBarras": {
          "type": "boolean"
        },
        "emailNotificacaoAdicional": {
          "type": "string"
        },
        "referenceIdPrefixo": {
          "type": "string"
        },
        "redirectPagamento": {
          "type": "string"
        },
        "isVarejo": {
          "type": "boolean"
        },
        "diasExpiracaoLink": {
          "type": "integer",
          "format": "int32"
        },
        "caminhoImagemLogo": {
          "type": "string"
        },
        "permiteBaixaRendimento": {
          "type": "boolean"
        },
        "bloqueioBin": {
          "items": {
            "$ref": "#/definitions/Credpay.BackOffice.Application.ViewModel.BloqueioBinViewModel"
          },
          "xml": {
            "name": "BloqueioBinViewModel",
            "wrapped": true
          },
          "type": "array"
        },
        "ctlClientes": {
          "items": {
            "$ref": "#/definitions/Credpay.BackOffice.Application.ViewModel.CtlClienteViewModel"
          },
          "xml": {
            "name": "CtlClienteViewModel",
            "wrapped": true
          },
          "type": "array"
        },
        "clienteSubDominio": {
          "items": {
            "$ref": "#/definitions/Credpay.BackOffice.Application.ViewModel.ClienteSubDominioViewModel"
          },
          "xml": {
            "name": "ClienteSubDominioViewModel",
            "wrapped": true
          },
          "type": "array"
        },
        "servicoPrestado": {
          "items": {
            "$ref": "#/definitions/Credpay.BackOffice.Application.ViewModel.ServicoPrestadoViewModel"
          },
          "xml": {
            "name": "ServicoPrestadoViewModel",
            "wrapped": true
          },
          "type": "array"
        },
        "tokens": {
          "items": {
            "$ref": "#/definitions/Credpay.BackOffice.Application.ViewModel.TokenizacaoViewModel"
          },
          "xml": {
            "name": "TokenizacaoViewModel",
            "wrapped": true
          },
          "type": "array"
        }
      },
      "xml": {
        "name": "SubDominioViewModel"
      },
      "type": "object"
    },
    "Credpay.BackOffice.Application.ViewModel.BloqueioBinViewModel": {
      "properties": {
        "bloqueioBinId": {
          "type": "integer",
          "format": "int32"
        },
        "subDominioId": {
          "type": "integer",
          "format": "int32"
        },
        "binId": {
          "type": "integer",
          "format": "int32"
        },
        "bin": {
          "$ref": "#/definitions/Credpay.BackOffice.Application.ViewModel.BinViewModel"
        },
        "subDominio": {
          "$ref": "#/definitions/Credpay.BackOffice.Application.ViewModel.SubDominioViewModel"
        }
      },
      "xml": {
        "name": "BloqueioBinViewModel"
      },
      "type": "object"
    },
    "Credpay.BackOffice.Application.ViewModel.CtlClienteViewModel": {
      "properties": {
        "clienteId": {
          "type": "integer",
          "format": "int32"
        },
        "data": {
          "type": "string",
          "format": "date-time"
        },
        "nome": {
          "type": "string"
        },
        "empresa": {
          "type": "string"
        },
        "documento": {
          "type": "string"
        },
        "email": {
          "type": "string"
        },
        "ativo": {
          "type": "string"
        },
        "chave": {
          "type": "string"
        },
        "senha": {
          "type": "string"
        },
        "contato": {
          "type": "string"
        },
        "telefone": {
          "type": "string"
        },
        "subDominioId": {
          "type": "integer",
          "format": "int32"
        },
        "perfilId": {
          "type": "integer",
          "format": "int32"
        },
        "diasExpiracaoLink": {
          "type": "integer",
          "format": "int32"
        }
      },
      "xml": {
        "name": "CtlClienteViewModel"
      },
      "type": "object"
    },
    "Credpay.BackOffice.Application.ViewModel.ClienteSubDominioViewModel": {
      "properties": {
        "clienteSubDominioId": {
          "type": "integer",
          "format": "int32"
        },
        "subDominioId": {
          "type": "integer",
          "format": "int32"
        },
        "clienteId": {
          "type": "integer",
          "format": "int32"
        },
        "subDominio": {
          "$ref": "#/definitions/Credpay.BackOffice.Application.ViewModel.SubDominioViewModel"
        }
      },
      "xml": {
        "name": "ClienteSubDominioViewModel"
      },
      "type": "object"
    },
    "Credpay.BackOffice.Application.ViewModel.ServicoPrestadoViewModel": {
      "properties": {
        "servicoPrestadoId": {
          "type": "integer",
          "format": "int32"
        },
        "descricao": {
          "type": "string"
        },
        "percentualRepasse": {
          "type": "number",
          "format": "double"
        },
        "ativo": {
          "type": "boolean"
        },
        "operacaoServico": {
          "items": {
            "$ref": "#/definitions/Credpay.BackOffice.Application.ViewModel.OperacaoServicoViewModel"
          },
          "xml": {
            "name": "OperacaoServicoViewModel",
            "wrapped": true
          },
          "type": "array"
        }
      },
      "xml": {
        "name": "ServicoPrestadoViewModel"
      },
      "type": "object"
    },
    "Credpay.BackOffice.Application.ViewModel.BinViewModel": {
      "properties": {
        "binId": {
          "type": "integer",
          "format": "int32"
        },
        "numeroBin": {
          "type": "string"
        },
        "emissorCartaoDeCreditoId": {
          "type": "integer",
          "format": "int32"
        },
        "bandeiraId": {
          "type": "integer",
          "format": "int32"
        },
        "ativo": {
          "type": "boolean"
        },
        "bandeira": {
          "$ref": "#/definitions/Credpay.BackOffice.Application.ViewModel.BandeiraViewModel"
        },
        "emissorCartaoDeCredito": {
          "$ref": "#/definitions/Credpay.BackOffice.Application.ViewModel.EmissorCartaoDeCreditoViewModel"
        },
        "bloqueioBin": {
          "items": {
            "$ref": "#/definitions/Credpay.BackOffice.Application.ViewModel.BloqueioBinViewModel"
          },
          "xml": {
            "name": "BloqueioBinViewModel",
            "wrapped": true
          },
          "type": "array"
        }
      },
      "xml": {
        "name": "BinViewModel"
      },
      "type": "object"
    },
    "Credpay.BackOffice.Application.ViewModel.OperacaoServicoViewModel": {
      "properties": {
        "operacaoServicoId": {
          "type": "integer",
          "format": "int32"
        },
        "subDominioId": {
          "type": "integer",
          "format": "int32"
        },
        "operacaoGatewayId": {
          "type": "integer",
          "format": "int32"
        },
        "servicoPrestadoId": {
          "type": "integer",
          "format": "int32"
        },
        "favorecidoId": {
          "type": "integer",
          "format": "int32"
        },
        "numeroInterno": {
          "type": "string"
        },
        "valorBruto": {
          "type": "number",
          "format": "double"
        },
        "participacao": {
          "type": "number",
          "format": "double"
        },
        "valorParticipacao": {
          "type": "number",
          "format": "double"
        },
        "statusOperacaoServicoId": {
          "type": "integer",
          "format": "int32"
        },
        "dataInclusao": {
          "type": "string",
          "format": "date-time"
        },
        "dataPagamento": {
          "type": "string",
          "format": "date-time"
        },
        "consistente": {
          "type": "boolean"
        },
        "favorecido": {
          "$ref": "#/definitions/Credpay.BackOffice.Application.ViewModel.FavorecidoViewModel"
        },
        "operacaoGateway": {
          "$ref": "#/definitions/Credpay.BackOffice.Application.ViewModel.OperacaoGatewayViewModel"
        },
        "servicoPrestado": {
          "$ref": "#/definitions/Credpay.BackOffice.Application.ViewModel.ServicoPrestadoViewModel"
        },
        "statusOperacaoServico": {
          "$ref": "#/definitions/Credpay.BackOffice.Application.ViewModel.StatusOperacaoServicoViewModel"
        }
      },
      "xml": {
        "name": "OperacaoServicoViewModel"
      },
      "type": "object"
    },
    "Credpay.BackOffice.Application.ViewModel.BandeiraViewModel": {
      "properties": {
        "bandeiraId": {
          "type": "integer",
          "format": "int32"
        },
        "nomeDaBandeira": {
          "type": "string"
        },
        "bin": {
          "items": {
            "$ref": "#/definitions/Credpay.BackOffice.Application.ViewModel.BinViewModel"
          },
          "xml": {
            "name": "BinViewModel",
            "wrapped": true
          },
          "type": "array"
        }
      },
      "xml": {
        "name": "BandeiraViewModel"
      },
      "type": "object"
    },
    "Credpay.BackOffice.Application.ViewModel.EmissorCartaoDeCreditoViewModel": {
      "properties": {
        "emissorCartaoDeCreditoId": {
          "type": "integer",
          "format": "int32"
        },
        "nomeDoEmissor": {
          "type": "string"
        },
        "bin": {
          "items": {
            "$ref": "#/definitions/Credpay.BackOffice.Application.ViewModel.BinViewModel"
          },
          "xml": {
            "name": "BinViewModel",
            "wrapped": true
          },
          "type": "array"
        }
      },
      "xml": {
        "name": "EmissorCartaoDeCreditoViewModel"
      },
      "type": "object"
    },
    "Credpay.BackOffice.Application.ViewModel.FavorecidoViewModel": {
      "properties": {
        "favorecidoId": {
          "type": "integer",
          "format": "int32"
        },
        "nome": {
          "type": "string"
        },
        "documentoIdentificacao": {
          "type": "string"
        },
        "bancoId": {
          "type": "integer",
          "format": "int32"
        },
        "agencia": {
          "type": "string"
        },
        "agenciaDigito": {
          "type": "string"
        },
        "conta": {
          "type": "string"
        },
        "contaDigito": {
          "type": "string"
        },
        "banco": {
          "$ref": "#/definitions/Credpay.BackOffice.Application.ViewModel.BancosViewModel"
        },
        "operacoesServico": {
          "items": {
            "$ref": "#/definitions/Credpay.BackOffice.Application.ViewModel.OperacaoServicoViewModel"
          },
          "xml": {
            "name": "OperacaoServicoViewModel",
            "wrapped": true
          },
          "type": "array"
        }
      },
      "xml": {
        "name": "FavorecidoViewModel"
      },
      "type": "object"
    },
    "Credpay.BackOffice.Application.ViewModel.OperacaoGatewayViewModel": {
      "properties": {
        "operacaoGatewayId": {
          "type": "integer",
          "format": "int32"
        },
        "preOperacaoId": {
          "type": "integer",
          "format": "int32"
        },
        "data": {
          "type": "string",
          "format": "date-time"
        },
        "valor": {
          "type": "number",
          "format": "double"
        },
        "referenceId": {
          "type": "string"
        },
        "placaDoVeiculo": {
          "type": "string"
        },
        "numeroInterno": {
          "type": "string"
        },
        "tipoPagamento": {
          "type": "integer",
          "format": "int32"
        },
        "parcelas": {
          "type": "integer",
          "format": "int32"
        },
        "servicoId": {
          "type": "integer",
          "format": "int32"
        },
        "situacaoId": {
          "type": "integer",
          "format": "int32"
        },
        "consultaId": {
          "type": "integer",
          "format": "int32"
        },
        "statusPagamentoId": {
          "type": "integer",
          "format": "int32"
        },
        "nsu": {
          "type": "string"
        },
        "nsuSitef": {
          "type": "string"
        },
        "codigoAutorizacao": {
          "type": "string"
        },
        "renavan": {
          "type": "string"
        },
        "acquirerCode": {
          "type": "string"
        },
        "fornecedorGatewayId": {
          "type": "integer",
          "format": "int32"
        },
        "providerCode": {
          "type": "string"
        },
        "providerMessage": {
          "type": "string"
        },
        "cardBin": {
          "type": "string"
        },
        "statusTransacao": {
          "$ref": "#/definitions/Credpay.BackOffice.Application.ViewModel.StatusTransacaoViewModel"
        },
        "preOperacao": {
          "$ref": "#/definitions/Credpay.BackOffice.Application.ViewModel.PreOperacaoViewModel"
        },
        "operacoesBoleto": {
          "items": {
            "$ref": "#/definitions/Credpay.BackOffice.Application.ViewModel.OperacaoBoletoViewModel"
          },
          "xml": {
            "name": "OperacaoBoletoViewModel",
            "wrapped": true
          },
          "type": "array"
        },
        "detalhe": {
          "items": {
            "$ref": "#/definitions/Credpay.BackOffice.Application.ViewModel.OperacaoGatewayDetalheViewModel"
          },
          "xml": {
            "name": "OperacaoGatewayDetalheViewModel",
            "wrapped": true
          },
          "type": "array"
        },
        "operacoesServico": {
          "items": {
            "$ref": "#/definitions/Credpay.BackOffice.Application.ViewModel.OperacaoServicoViewModel"
          },
          "xml": {
            "name": "OperacaoServicoViewModel",
            "wrapped": true
          },
          "type": "array"
        }
      },
      "xml": {
        "name": "OperacaoGatewayViewModel"
      },
      "type": "object"
    },
    "Credpay.BackOffice.Application.ViewModel.StatusOperacaoServicoViewModel": {
      "properties": {
        "statusOperacaoServicoId": {
          "type": "integer",
          "format": "int32"
        },
        "descricao": {
          "type": "string"
        },
        "operacoesServico": {
          "items": {
            "$ref": "#/definitions/Credpay.BackOffice.Application.ViewModel.OperacaoServicoViewModel"
          },
          "xml": {
            "name": "OperacaoServicoViewModel",
            "wrapped": true
          },
          "type": "array"
        }
      },
      "xml": {
        "name": "StatusOperacaoServicoViewModel"
      },
      "type": "object"
    },
    "Credpay.BackOffice.Application.ViewModel.BancosViewModel": {
      "properties": {
        "bancoId": {
          "type": "integer",
          "format": "int32"
        },
        "numero": {
          "type": "string"
        },
        "nome": {
          "type": "string"
        },
        "nomeCompleto": {
          "type": "string"
        }
      },
      "xml": {
        "name": "BancosViewModel"
      },
      "type": "object"
    },
    "Credpay.BackOffice.Application.ViewModel.StatusTransacaoViewModel": {
      "properties": {
        "statusTransacaoId": {
          "type": "integer",
          "format": "int32"
        },
        "descricao": {
          "type": "string"
        }
      },
      "xml": {
        "name": "StatusTransacaoViewModel"
      },
      "type": "object"
    },
    "Credpay.BackOffice.Application.ViewModel.PreOperacaoViewModel": {
      "properties": {
        "preOperacaoId": {
          "type": "integer",
          "format": "int32"
        },
        "data": {
          "type": "string",
          "format": "date-time"
        },
        "empresaId": {
          "type": "integer",
          "format": "int32"
        },
        "usuarioId": {
          "type": "integer",
          "format": "int32"
        },
        "chave": {
          "type": "string"
        },
        "valorPrincipal": {
          "type": "number",
          "format": "double"
        },
        "valorInicial": {
          "type": "number",
          "format": "double"
        },
        "valorLiquido": {
          "type": "number",
          "format": "double"
        },
        "custoConveniencia": {
          "type": "number",
          "format": "double"
        },
        "valorR": {
          "type": "number",
          "format": "double"
        },
        "quantidadeParcelas": {
          "type": "integer",
          "format": "int32"
        },
        "valorParcela": {
          "type": "number",
          "format": "double"
        },
        "referenceId": {
          "type": "string"
        },
        "nomeDoCliente": {
          "type": "string"
        },
        "documento": {
          "type": "string"
        },
        "eMail": {
          "type": "string"
        },
        "telefone": {
          "type": "string"
        },
        "celular": {
          "type": "string"
        },
        "descricao": {
          "type": "string"
        },
        "situacao": {
          "type": "integer",
          "format": "int32"
        },
        "clienteId": {
          "type": "integer",
          "format": "int32"
        },
        "codigoCliente": {
          "type": "integer",
          "format": "int32"
        },
        "codigoDeBarras": {
          "type": "string"
        },
        "subDominioId": {
          "type": "integer",
          "format": "int32"
        },
        "servicoId": {
          "type": "integer",
          "format": "int32"
        },
        "contrato": {
          "type": "string"
        },
        "credor": {
          "type": "string"
        },
        "dataExpiracaoLink": {
          "type": "string",
          "format": "date-time"
        },
        "ultimaParcelaPaga": {
          "type": "integer",
          "format": "int32"
        },
        "dataPagamento": {
          "type": "string",
          "format": "date-time"
        },
        "origem": {
          "type": "string"
        },
        "tipoDeOperacao": {
          "type": "integer",
          "format": "int32"
        },
        "isChargeback": {
          "type": "boolean"
        },
        "ordem": {
          "type": "integer",
          "format": "int32"
        },
        "preOperacaoIdPai": {
          "type": "integer",
          "format": "int32"
        },
        "referencia": {
          "type": "string"
        },
        "referencia1": {
          "type": "string"
        },
        "referencia2": {
          "type": "string"
        },
        "numeroInterno": {
          "type": "string"
        },
        "multiplosPago": {
          "type": "boolean"
        },
        "urlAutenticacaoPagador": {
          "type": "string"
        },
        "webHookIntegracao": {
          "type": "string"
        },
        "linkGerado": {
          "type": "string"
        },
        "subDominio": {
          "$ref": "#/definitions/Credpay.BackOffice.Application.ViewModel.SubDominioViewModel"
        },
        "operacoesGateway": {
          "items": {
            "$ref": "#/definitions/Credpay.BackOffice.Application.ViewModel.OperacaoGatewayViewModel"
          },
          "xml": {
            "name": "OperacaoGatewayViewModel",
            "wrapped": true
          },
          "type": "array"
        }
      },
      "xml": {
        "name": "PreOperacaoViewModel"
      },
      "type": "object"
    },
    "Credpay.BackOffice.Application.ViewModel.OperacaoBoletoViewModel": {
      "properties": {
        "operacaoBoletoId": {
          "type": "integer",
          "format": "int32"
        },
        "statusOperacaoBoletoId": {
          "type": "integer",
          "format": "int32"
        },
        "operacaoGatewayId": {
          "type": "integer",
          "format": "int32"
        },
        "valorDoDebito": {
          "type": "number",
          "format": "double"
        },
        "dataVencimento": {
          "type": "string",
          "format": "date-time"
        },
        "identificador": {
          "type": "string"
        },
        "descricao": {
          "type": "string"
        },
        "codigoDeBarras": {
          "type": "string"
        },
        "dataDePagamento": {
          "type": "string",
          "format": "date-time"
        },
        "statusOperacaoBoleto": {
          "$ref": "#/definitions/Credpay.BackOffice.Application.ViewModel.StatusOperacaoBoletoViewModel"
        },
        "autenticacaoDigital": {
          "type": "string"
        }
      },
      "xml": {
        "name": "OperacaoBoletoViewModel"
      },
      "type": "object"
    },
    "Credpay.BackOffice.Application.ViewModel.OperacaoGatewayDetalheViewModel": {
      "properties": {
        "operacaoGatewayDetalheId": {
          "type": "integer",
          "format": "int32"
        },
        "operacaoGatewayId": {
          "type": "integer",
          "format": "int32"
        },
        "data": {
          "type": "string",
          "format": "date-time"
        },
        "transactionId": {
          "type": "string"
        },
        "status": {
          "type": "integer",
          "format": "int32"
        },
        "tipoTransacao": {
          "type": "string"
        },
        "cardBin": {
          "type": "string"
        },
        "documento": {
          "type": "string"
        },
        "codigoAutorizacao": {
          "type": "string"
        },
        "provider": {
          "type": "string"
        },
        "providerReference": {
          "type": "string"
        },
        "providerCode": {
          "type": "string"
        },
        "providerMessage": {
          "type": "string"
        },
        "tipoPagamento": {
          "type": "integer",
          "format": "int32"
        },
        "softDescriptor": {
          "type": "string"
        },
        "bandeira": {
          "type": "string"
        },
        "holderName": {
          "type": "string"
        },
        "urlAuthenticate": {
          "type": "string"
        }
      },
      "xml": {
        "name": "OperacaoGatewayDetalheViewModel"
      },
      "type": "object"
    },
    "Credpay.BackOffice.Application.ViewModel.StatusOperacaoBoletoViewModel": {
      "properties": {
        "statusOperacaoBoletoId": {
          "type": "integer",
          "format": "int32"
        },
        "descricao": {
          "type": "string"
        }
      },
      "xml": {
        "name": "StatusOperacaoBoletoViewModel"
      },
      "type": "object"
    },
    "Credpay.Tools.DomainValidator.ValidationResultOfCredpay.BackOffice.Application.ViewModel.StatusRecorrenciaViewModel": {
      "properties": {
        "retorno": {
          "$ref": "#/definitions/Credpay.BackOffice.Application.ViewModel.StatusRecorrenciaViewModel"
        },
        "statusCode": {
          "type": "integer",
          "format": "int32",
          "enum": [
            100,
            101,
            200,
            201,
            202,
            203,
            204,
            205,
            206,
            300,
            300,
            301,
            301,
            302,
            302,
            303,
            303,
            304,
            305,
            306,
            307,
            307,
            400,
            401,
            402,
            403,
            404,
            405,
            406,
            407,
            408,
            409,
            410,
            411,
            412,
            413,
            414,
            415,
            416,
            417,
            426,
            500,
            501,
            502,
            503,
            504,
            505
          ]
        },
        "erros": {
          "items": {
            "$ref": "#/definitions/Credpay.Tools.DomainValidator.ValidationError"
          },
          "readOnly": true,
          "xml": {
            "name": "ValidationError",
            "wrapped": true
          },
          "type": "array"
        },
        "codigoMessagem": {
          "type": "integer",
          "format": "int32"
        },
        "messagem": {
          "type": "string"
        },
        "valid": {
          "readOnly": true,
          "type": "boolean"
        },
        "invalid": {
          "readOnly": true,
          "type": "boolean"
        },
        "warning": {
          "readOnly": true,
          "type": "boolean"
        }
      },
      "xml": {
        "name": "ValidationResult`1"
      },
      "type": "object"
    },
    "Credpay.BackOffice.Application.ViewModel.StatusRecorrenciaViewModel": {
      "properties": {
        "data": {
          "type": "string",
          "format": "date-time"
        },
        "total": {
          "type": "integer",
          "format": "int32"
        },
        "pagos": {
          "type": "integer",
          "format": "int32"
        },
        "reagendados": {
          "type": "integer",
          "format": "int32"
        }
      },
      "xml": {
        "name": "StatusRecorrenciaViewModel"
      },
      "type": "object"
    },
    "Credpay.BackOffice.Application.ViewModel.TokenDataValueViewModel": {
      "properties": {
        "tokenizacaoId": {
          "type": "integer",
          "format": "int32"
        },
        "token": {
          "type": "string"
        },
        "bandeira": {
          "type": "string"
        },
        "bin": {
          "type": "string"
        },
        "documento": {
          "type": "string"
        },
        "email": {
          "type": "string"
        },
        "dataInclusao": {
          "type": "string",
          "format": "date-time"
        },
        "ativo": {
          "type": "boolean"
        }
      },
      "xml": {
        "name": "TokenDataValueViewModel"
      },
      "type": "object"
    },
    "Credpay.BackOffice.Api.Models.CancelamentoParcialModel": {
      "description": "CancelamentoParcialModel objeto para o post",
      "properties": {
        "transactionId": {
          "description": "TransactionId - id da transação",
          "type": "string"
        },
        "amount": {
          "description": "Amount - valor da compra em centavos",
          "type": "string"
        },
        "token": {
          "description": "Token - Uso interno",
          "type": "string"
        }
      },
      "xml": {
        "name": "CancelamentoParcialModel"
      },
      "type": "object"
    }
  },
  "tags": [
    {
      "name": "Arquivo",
      "description": "Arquivo Controller"
    },
    {
      "name": "Operacao",
      "description": "Operacao Controller"
    },
    {
      "name": "Ping",
      "description": "Ping - Verifica se a API está ativa"
    },
    {
      "name": "Tokenizacao",
      "description": "Tokenização / cofre"
    },
    {
      "name": "Transacao",
      "description": "Classe que efetua transações com casrtão de crédito."
    }
  ]
}